 
.page-header
    h1= title

.row
    .span12
        ul.menu
            li
                h2 game packs
                .actions
                    a.ajax.btn.btn-large.btn-sucess(href='/packs') pick a pack
            li
                h2 tutorial
                .actions
                    a.ajax.btn.btn-large(href='#nyi') view
            li
                h2 about
                .actions
                    a.ajax.btn.btn-large(href='#nyi') view