!!! 5
html
  head
    title= title
    link(rel='stylesheet/less', href='/bootstrap/less/bootstrap.less')
    link(rel='stylesheet/less', type='text/css', href='/stylesheets/site.less')
    link(rel='stylesheet/less', type='text/css', href='/stylesheets/game.less')
    script(src='/javascripts/lib/less-1.2.1.min.js')
    script(src='/javascripts/lib/modernizr-2.0.6-development-only.js')
    block head
  body
    .navbar
        .navbar-inner
            .container
                a.brand.ajax(href='/') LuckyPicross
                ul.nav
                    li: a.ajax(href='/editor') editor
                    if user && user.role === 'admin'
                        li: a(href='/admin/users') users
                        li: a(href='/admin/games') games
                include admin/inlineLogin

    .container
        .content
            != body

        footer: p &copy; Copyright 2012

    
    script(src='/javascripts/lib/jquery-1.7.1.js')
    script(src='/javascripts/lib/jquery.base64.min.js')
    script(src='/javascripts/lib/jquery.countdown.min.js')
    script(src='/bootstrap/js/bootstrap-dropdown.js')
    script(src='/bootstrap/js/bootstrap-button.js')
    script(src='/bootstrap/js/bootstrap-modal.js')
    script(src='/javascripts/lib/underscore-1.3.1.js')
    script(src='/javascripts/lib/backbone-0.9.1.js')
    script(src='/javascripts/base.js')
    script(src='/javascripts/picross-base.js')
    script(src='/javascripts/picross-editor.js')
    script(src='/javascripts/picross-game.js')
    script(src='/javascripts/app.js')
    - each script in scripts
      script(src='#{script}')