!!! 5
html
  head
    title= title
    link(rel='stylesheet/less', href='/bootstrap/less/bootstrap.less')
    link(rel='stylesheet/less', type='text/css', href='/stylesheets/site.less')
    link(rel='stylesheet/less', type='text/css', href='/stylesheets/game.less')
    script(src='/javascripts/lib/less-1.2.1.min.js')
    script(src='/javascripts/lib/modernizr-2.0.6-development-only.js')
    block head
  body
    .navbar.navbar-fixed-top
        .navbar-inner
            .container
                a.brand LuckyPicross
                ul.nav
                    li: a(href='/editor') editor
                    if user && user.role === 'admin'
                        li: a(href='/admin/users') users
                include auth/inlineLogin

    .container
        .content
            .page-header
                h1
                    block page-header
            .row
                .span12
                    block main-content
            .row
                block secondary-content

        footer: p &copy; Copyright 2012

    
    script(src='/javascripts/lib/jquery-1.7.1.js')
    script(src='/bootstrap/js/bootstrap-dropdown.js')
    script(src='/javascripts/base.js')
    script(src='/javascripts/picross.js')
    block scripts