
.page-header
    h1= title

.row
    .span12
        .picross-game
.row
    .span6
        form.form-horizontal
            fieldset#puzzle-size
                legend Size
                .control-group
                    .btn-group.offset1(data-toggle='buttons-radio')
                        button.btn(value='5', type='button') 5x5
                        button.btn.active(value='10', type='button') 10x10
                        button.btn(value='15', type='button') 15x15
                        button.btn(value='20', type='button') 20x20
                        button.btn(value='25', type='button') 25x25
    .span6
        form.form-horizontal
            fieldset#puzzle-details
                legend Save Puzzle
                .control-group: div#submit-errors.controls
                .control-group
                    label.control-label Name
                    .controls
                        input#name.input-xlarge(type='text', required)
                .control-group
                    label.control-label Lives
                    .controls
                        span.life
                        span.life
                        span.life
                        span.life
                        span.life
                .control-group
                    label.control-label Max Time
                    .controls
                        input#time.input-xlarge.span1(type='text', value='\u221E')
                        span.help-inline in minutes
                .control-group
                    .controls
                        button.btn.btn-primary.save(type='button') Save
                        button.btn.reset(type='button') Reset
                        .modal.fade#save-success 
                            .modal-header
                                a.close(data-dismiss='modal') ×
                                h3 You did it! 
                            .modal-body
                                p Your game has been created! Do you want to go ahead and play it? 
                            .modal-footer
                                a.btn.btn-success.ajax(data-dismiss='modal') play now!
                                a.btn(data-dismiss='modal') no thanks
                        .modal.fade#save-error
                            .modal-header
                                a.close(data-dismiss='modal') ×
                                h3 I hate to break it to you...
                            .modal-body
                                p Something has gone wrong and your game did not save. Perhaps it'll work a little later. 
                            .modal-footer
                                a.btn(data-dismiss='modal') *grumble* okay

