.page-header
    h1= title

.row
    .span12
        ul.menu
            if pack.games.length > 0
                - each game in pack.games
                  li.game 
                    h2.name= game.name
                    .lives
                            i.icon-heart 
                            |  x 
                            b #{game.lives}
                    .actions
                        a.ajax.play.btn.btn-success.btn-large(href='/game/#{game._id}') play
            else 
                div *tumble weeds* There are no games in this pack. 