.picross-game {
  border: solid 1px black;
  height: 700px;
  width: 900px; }
  .picross-game table {
    border-collapse: collapse;
    border-spacing: 0; }
  .picross-game > table {
    height: 100%;
    width: 100%; }
    .picross-game > table td {
      transition: background-color 0.1s ease-in;
      -moz-transition: background-color 0.1s ease-in;
      -o-transition: background-color 0.1s ease-in;
      -webkit-transition: background-color 0.1s ease-in; }
    .picross-game > table td.hover {
      background-color: #ddd; }
    .picross-game > table .hints td {
      border: solid 1px black; }
    .picross-game > table .hints.side {
      float: right;
      vertical-align: top; }
    .picross-game > table .hints.top {
      vertical-align: bottom; }
    .picross-game > table .board {
      vertical-align: top; }
      .picross-game > table .board td {
        border: solid 1px black; }
  .picross-game.size-10-10 > table td {
    height: 45px;
    width: 45px; }
