@import "mixins.less";

.background-filled {
    background-image: linear-gradient(bottom, #2093B0 5%, #44ABC7 15%, #60CEEF 64%);
    background-image: -o-linear-gradient(bottom, #2093B0 5%, #44ABC7 15%, #60CEEF 64%);
    background-image: -moz-linear-gradient(bottom, #2093B0 5%, #44ABC7 15%, #60CEEF 64%);
    background-image: -webkit-linear-gradient(bottom, #2093B0 5%, #44ABC7 15%, #60CEEF 64%);
    background-image: -ms-linear-gradient(bottom, #2093B0 5%, #44ABC7 15%, #60CEEF 64%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.05, #2093B0),
        color-stop(0.15, #44ABC7),
        color-stop(0.64, #60CEEF)
    );
}

.picross-game {
	border: solid 1px #eee;
    .border-bottom-radius(10px);
    padding: 20px;
    .unselectable;

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	> table {
		width: 100%;

		.controls {

		}

		td {
			.background-color-ease-in(.1s);
		}
		td.hover {
			background-color: #f5f5f5;
		}

		.hints {
			td {
                border: 1px solid #f5f5f5;
				span {

				}
                span.marked {
                    color: #ccc;
                }
			}
			
			&.side {
				float: right;
	            padding-right: 5px;
				vertical-align: top;
	            td {
	                text-align: right;
                    span {
                        padding: 5px 7px;
                    }
                    span:hover { background-color: #fff; }
	            }
			}
			&.top {
                padding-bottom: 5px;
				vertical-align: bottom;
	            td {
	                vertical-align: bottom;
	                span {
                        padding: 5px 7px;
                        display: block;
                        text-align: center;
	                }
                    span:hover { background-color: #fff; }
	            }
			}
		}

		.board {
			vertical-align: top;
			td {
				border: solid 1px #f5f5f5;
	            span {
	                display: block;
	                color: #ccc;
	                height: 100%;
	                width: 100%;
	                text-align: center;
	                text-indent: -100px;
	                overflow: hidden;
	            }
			}
            td.row-5, td.row-10, td.row-15, td.row-20, td.row-25 {
                border-top: solid 2px #ccc;
            }
            td.col-5, td.col-10, td.col-15, td.col-20, td.col-25 {
                border-left: solid 2px #ccc;
            }
            td.filled span {
                .background-filled;
            }
            td.marked span {
                text-indent: 0;
            }
            td.marked.locked span {
                color: #999;
            }
            td.marked.error span {
                color: #e55;
            }
		}
	}

    &.paused {
        .board td span { visibility: hidden; }
        .hints td span { visibility: hidden; }
    }

    position: relative;
    .start-countdown {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100px;
        width: 100px;
        margin: -50px 0 0 -50px;
        background: #fff;
        border: solid 1px #666;
        font-size: 56px;
        line-height: 100px;
        text-align: center;
        .countdown;
    }

    @size-5-5: 50px;
	&.size-5-5 .side.hints td { height: @size-5-5; }
    &.size-5-5 .top.hints td  { width: @size-5-5; }
    &.size-5-5 .board td      { height: @size-5-5; width: @size-5-5; }
    &.size-5-5 .board span    { font-size: 75px; line-height: .4; }

    @size-10-10: 45px;
	&.size-10-10 .side.hints td { height: @size-10-10; }
    &.size-10-10 .top.hints td  { width: @size-10-10; }
    &.size-10-10 .board td      { height: @size-10-10; width: @size-10-10; }
    &.size-10-10 .board span    { font-size: 70px; line-height: .35; }

    @size-15-15: 30px;
    &.size-15-15 .side.hints td { height: @size-15-15; }
    &.size-15-15 .top.hints td  { width: @size-15-15; }
    &.size-15-15 .board td      { height: @size-15-15; width: @size-15-15; }
    &.size-15-15 .board span    { font-size: 45px; line-height: .40; }

    @size-20-20: 24px;
    &.size-20-20 .side.hints td { height: @size-20-20; }
    &.size-20-20 .top.hints td  { width: @size-20-20; }
    &.size-20-20 .board td      { height: @size-20-20; width: @size-20-20; }
    &.size-20-20 .board span    { font-size: 40px; line-height: .35; }

    @size-25-25: 20px;
    &.size-25-25 .side.hints td { height: @size-25-25; }
    &.size-25-25 .top.hints td  { width: @size-25-25; }
    &.size-25-25 .board td      { height: @size-25-25; width: @size-25-25; }
    &.size-25-25 .board span    { font-size: 30px; line-height: .35; }

    &.game-over.win {
        .board td.filled span {
            .win-animation;
        }
    }

}
span.life {
    background: url(images/life.png) no-repeat;
    display: inline-block;
    height: 50px;
    width: 50px;

    &.off {
        background-position: 0 -50px;
    }
}
#puzzle-details {
    #time {
        text-align: center;
    }
    button.save {
        margin-right: 4px;
    }
}