@import "mixins.less";

.background-color-ease-in (@time) {
	transition: background-color @time ease-in;
	-moz-transition: background-color @time ease-in;
	-o-transition: background-color @time ease-in;
	-webkit-transition: background-color @time ease-in;
}

.picross-game {
	border: solid 1px #eee;
    .border-bottom-radius(10px);
    padding: 20px;

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	> table {
		width: 100%;

		.controls {

		}

		td {
			.background-color-ease-in(.1s);
		}
		td.hover {
			background-color: #f5f5f5;
		}

		.hints {
			td {
                border: 1px solid #f5f5f5;
				span {

				}
			}
			
			&.side {
				float: right;
	            padding-right: 5px;
				vertical-align: top;
	            td span {
                    padding: 0 7px;
	            }
			}
			&.top {
                padding-bottom: 5px;
				vertical-align: bottom;
	            td span {
                    padding: 5px 0;
	                display: block;
	                text-align: center;
	            }
			}
		}

		.board {
			vertical-align: top;
			td {
				border: solid 1px #f5f5f5;
			}
            td.filled {
                background-color: green;
            }
            td.marked {
                background-color: red;
            }
		}
	}

	&.size-10-10 .side.hints td {
	    height: 45px;
	}
    &.size-10-10 .top.hints td {
        width: 45px;
    }
    &.size-10-10 .board td {
        height: 45px;
        width: 45px;    
    }	
}