@import "mixins.less";

html, body {
    background-color: #eee;
}
body {
}
.navbar {
    margin: 0;
    ul.nav.auth {
        p {
            padding: 3px 15px;
            margin: .5em 0;
        }
    }
    .login {
        p { width: 200px; }
        li.btn-container {
            text-align: center;
            a.google {
                line-height: 26px;
                margin: 5px 0;
                width: 100px;
                span {
                    background: url(images/google-icon.png) center left no-repeat;
                    padding-left: 20px;
                }
                // had to duplicate these from bootstrap to override dropdown styling
                display: inline-block;
                &:hover {
                    color: #333;
                    background-color: darken(#fff, 10%);
                    background-position: 0 -15px;
                }
            }
        }
    }
}
.content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px;
    .border-bottom-radius(10px);
    min-height: 400px;

    .page-header {
        background-color: #f5f5f5;
        padding: 20px 20px 10px;
        margin: -20px -20px 20px;
    }

    .btn.google-large {
        span {
            display: block;
            background: url(images/google-logo.png) top center no-repeat;
            padding: 48px 10px 0;
        }
    }

    .loading-container {
        background-color: rgba(255,255,255,.6);
        height: 100%;
        position: absolute;
        width: 100%;
        .loading-indicator {
            background: url(images/ajax-loader.gif);
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -16px 0 0 -16px;
            height: 32px;
            width: 32px;
        }
    }
}

footer {
    margin: 1em 0;
    p {
        text-align: center;
    }
}