extends ../layout

block page-header
    = title

block main-content
        p Looks like something's very wrong here.
        p If you're in the know, maybe this will help. Otherwise
            a(href='/') go on home.
        div= message